# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
*.sqlite3
*.log
*.db

# Virtual environment
.venv/
env/
ENV/

# IDE folders
.vscode/
.idea/

# System files
.DS_Store

# Others
*.egg-info/
*.dist-info/
.env
