{% extends 'base.html' %}
{% block title %}За нас{% endblock %}
{% block body_class %}bg-dark{% endblock %}

{% block content %}
<h1>За нас</h1>
<p>LogiSting е вътрешна логистична платформа, разработена за нуждите на 
    „Стинг“ АД – с цел ефективно управление на доставки, поръчки и 
    междускладови трансфери. Системата улеснява комуникацията между нашите 
    отдели, както и сътрудничеството с външни доставчици.
</p>
    

<p>Благодарим за партньорството и доверието!
    Екипът на „Стинг“ АД</p>
{% endblock %}
