{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4" style="color: white; font-weight: bold;">🏢 Доставчици на основни стоки "Стинг"АД</h2>


<form method="get">
  <div style="display: flex; gap: 1rem; align-items: center;">
    {{ filter.form.name.label_tag }} {{ filter.form.name }}
    {{ filter.form.delivery_method.label_tag }} {{ filter.form.delivery_method }}
    {{ filter.form.responsible_logistic.label_tag }} {{ filter.form.responsible_logistic }}
    <button type="submit" class="btn btn-primary">Покажи</button> 
  </div>
</form>


<table class="table table-sm table-striped table-bordered table-responsive">
    <thead class="table-dark">
        <tr>
            <th>Име</th>
            <th>ДДС номер</th>
            <th>Имейл</th>
            <th>Телефон</th>
            <th>Лице за контакт</th>
            <th>Доставка</th>
            <th>Отговорен логистик</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for supplier in suppliers %}
        <tr>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.vat_number }}</td>
            <td>{{ supplier.email }}</td>
            <td>{{ supplier.phone }}</td>
            <td>{{ supplier.contact_person }}</td>
            <td>{{ supplier.get_delivery_method_display }}</td>
            <td>{{ supplier.responsible_logistic }}</td>
            <td>
                <a href="{% url 'suppliers:supplier-update' supplier.pk %}" class="btn btn-sm btn-warning">Редактирай</a>
                {% if is_logistics_manager %}
                    <a href="{% url 'suppliers:supplier-delete' supplier.pk %}" class="btn btn-sm btn-danger">Изтриване</a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">Няма въведени доставчици.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_logistics_manager %}
    <a href="{% url 'suppliers:supplier-create' %}" class="btn btn-success">Добави доставчик</a>
{% endif %}


{% if is_paginated %}
  <div class="pagination">
    <span class="page-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; първа</a>
        <a href="?page={{ page_obj.previous_page_number }}">назад</a>
      {% endif %}

      <span class="current">
        Страница {{ page_obj.number }} от {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?{% if request.GET %}{{ request.GET.urlencode }}&{% endif %}page={{ page_obj.next_page_number }}">напред</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">последна &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endif %}


{% endblock %}
